.container{
    margin: auto;
    margin-top: 200px;
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}
.card {
    height: 60px;
    width: 100px;
    color: black;
    font-size: 20px;
    text-align: center;
    background-color: #808080;
    margin: 10px;
    padding-top: 40px;
    cursor: pointer;
}
.flipper {
    background-color: #e0e0eb;
}
.hidden {
    visibility: hidden;
}