.container {
    margin: auto;
    margin-top: 200px;
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}

.card {
    height: 60px;
    width: 100px;
    color: black;
    font-size: 20px;
    text-align: center;
    background-color: #808080;
    margin: 10px;
    padding-top: 40px;
    cursor: pointer;
}

.flipped {
    background-color: #e0e0eb;
    cursor: default;
}

.hidden {
    visibility: hidden;
}

.card span {
    display: block;
}

.card.flipped span {
    visibility: visible;
    opacity: 1;
}